table {
    font-family: sans-serif;
    border-collapse:collapse;
}
td, th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100px;
    text-align: center;
}

th {
    background-color: green;
    color:white;
}

input {
    width: 100px;
}